.list .task
{
    padding-left: 10px;
}

.list .task span.checkbox
{
    margin-right: 10px;
}

.list .task .actions
{
    text-align: right;
}

.list .task .actions i
{
    margin-right: 10px;
    border-bottom: 0;
    cursor: pointer;
}

.list div
{
    line-height: 2.5em;
}

.list .task:nth-child(even)
{
    background-color: rgb(250, 250, 250);
}

.list label
{
    font-weight: normal;
    font-size: 1em;
    color: #222;
}

.list a
{
    cursor: pointer;
}

#add input
{
    font-size: 1.4em;
}

footer
{
    padding-left: 10px;
    line-height: 3em;
}

footer .columns
{
    font-size: 0.75em;
    text-transform: uppercase;
}

footer .icons
{
    text-align: right;
    font-size: 1.5em;
}

.list .actions a
{
    color: #222;
}

.tooltip
{
    font-size: .8em;
    padding: 10px;
    opacity: 0.7;
}