body
{
    padding-top: 25px;
}

a
{
    color: #222;
}

#list .task
{
    padding-left: 10px;
}

#list .task span.checkbox
{
    margin-right: 10px;
}

#list .task .actions
{
    font-size: 1.2em;
    text-align: right;
}

#list .task .actions i
{
    margin-right: 10px;
    border-bottom: 0;
    cursor: pointer;
}

#list .task form {
    margin: 0;
}

#list .task input {

    font-size: 1em;
    margin: 0 0 0 22px;
}

#list div
{
    line-height: 2.5em;
}

#list > div:nth-child(even)
{
    background-color: rgb(250, 250, 250);
}

#list label
{
    font-weight: normal;
    font-size: 1em;
    overflow: hidden;
    height: 2.5em;
}

#list a
{
    cursor: pointer;
}

#form input
{
    font-size: 1.4em;
}

footer
{
    padding-left: 10px;
    line-height: 3em;
}

footer .columns
{
    font-size: 0.75em;
    text-transform: uppercase;
}

footer .icons
{
    text-align: right;
    font-size: 1.5em;
}

.tooltip
{
    font-size: .8em;
    padding: 10px;
    opacity: 0.7;
}

#ajax-load
{
    display: none;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 10px;
    height: 10px;
    background-image: url(ajax-loader.gif);
    background-repeat: no-repeat;
}

label {
    cursor: default;
}

label .custom.checkbox {
    cursor: pointer;
}