body {
    padding-top: 25px;
    overflow-x: hidden;
}

#add-task input {
    font-size: 1.4em;
}

#add-task .custom.dropdown {
    font-size: 1.4em;
}

#add-task .custom.dropdown .current {
    margin-right: 2em;
}

#add-task .custom.dropdown .selector {
    width: 2em;
}

#add-task .custom.dropdown ul {
    font-size: 0.9em;
}

.no-tasks {
    color: #4d4d4d;
    padding-left: 10px;
    background-color: #fff !important;
}

.task {
    padding-left: 10px;
    line-height: 3em;
    margin-bottom: 3px;
}

.prio-high {
    border-left: 8px rgb(255, 100, 100) solid;
}

.prio-normal {
    border-left: 8px rgb(251, 190, 190) solid;
}

.prio-low {
    border-left: 8px rgb(255, 240, 240) solid;
}


.task span.checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.task .actions {
    font-size: 1.2em;
    text-align: right;
}

.task .actions i {
    margin-right: 10px;
    border-bottom: 0;
    cursor: pointer;
}

form {
    margin: 0;
}

.task input {
    font-size: 1em;
    margin: 0.47em 0 0 22px;
}

.list > div:nth-child(even) {
    background-color: #fafafa;
}

.task label {
    font-weight: 400;
    font-size: 1em;
    overflow: hidden;
    height: 2.5em;
    cursor: default;
}

footer {
    padding-left: 10px;
    padding-top: 10px;
    line-height: 3em;
    font-size: .75em;
    text-transform: uppercase;

}

#ajax-loader {
    display: none;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 10px;
    height: 10px;
    background: url(ajax-loader.gif) no-repeat;
}

#app-loader {
    margin: auto;
    width: 50px;
    height: 59px;
    background: url(app-loader.gif) no-repeat;
}

#sidebar {
    font-size: 1.5em;
    position: absolute;
    top: 15px;
    right: -175px;
    z-index: 100;
    opacity: 0.9;
}

#sidebar div {
    float: left;
    width: 30px;
}

#sidebar .icons {
    margin-top: 17px;
    border-radius: 7px 0 0 7px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#sidebar .icons i {
    line-height: 1.5em;
    padding-left: 5px;
    cursor: pointer;
}

#sidebar .content {
    float:right;
    width: 175px;
    background-color: #000;
    border-radius: 7px 0 0 7px;
    color: #eee;
    position: relative;
}

#sidebar .content h3 {
    margin: 15px;
    color: #fff;
    font-size: .8em;
}

#sidebar .content p {
    margin: 15px;
    font-size: 0.6em;
    line-height: 1.3em;
}

#sidebar .content code {
    color: #eee;
}

