<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dingbat</title>
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/screen.css" />
    <link rel="stylesheet" href="css/icons/general_enclosed_foundicons.css" />
    <link rel="stylesheet" href="css/icons/general_enclosed_foundicons_ie7.css" />
    <script src="api.php/assets/js"></script>
</head>
<body class="antialiased">

<div id="ajax-loader"></div>

<script type="text/template" id="navigation-template">
    <nav class="top-bar">
        <section class="top-bar-section">
            <ul class="left list"></ul>
            <ul class="right">
                <li class="has-form">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <form>
                                <input type="text" />
                            </form>
                        </div>
                        <div class="small-2 text-center columns">
                            <i class="foundicon-plus add"></i>
                            <i class="foundicon-remove cancel"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </nav>
</script>


<script type="text/template" id="card-template">
    <a href="#card/<%- id %>"><%- name %></a>
</script>


<script type="text/template" id="app">
    <div class="navigation"></div>

    <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">

            <div class="form"></div>
            <div class="list"></div>
            <footer></footer>

            <div id="app-loader"></div>
        </div>
    </div>
</script>


<script type="text/template" id="form-template">
    <form id="add-task" class="custom">
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" class="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="list-template">
    <form class="custom list"></form>
    <div class="row no-tasks">
        <div class="small-12 columns">
            no tasks! nothin' to do?
        </div>
    </div>
</script>


<script type="text/template" id="task-template">
    <div class="row task">
        <div class="small-10 columns">
            <label>
                <span class="custom checkbox"></span>
                <span class="name"><%- name %></span>
            </label>
            <form>
                <input type="text" class="name" />
            </form>
        </div>
        <div class="small-2 columns actions">
            <i class="foundicon-remove cancel"></i>
            <i class="foundicon-edit update"></i>
            <i class="foundicon-trash delete"></i>
        </div>
    </div>
</script>


<script type="text/template" id="footer-template">
    Dingbat 0.2.2.2 -
    <a href="https://github.com/pklink/Dingbat" target="_blank">pow</a>,
    <a href="https://sourceforge.net/projects/dingbat/" target="_blank">pow</a>, pow!
</script>


<script type="text/template" id="sidebar-template">
    <div id="sidebar">
        <div class="icons">
            <i class="foundicon-idea help"></i>
        </div>
        <div class="content help">
            <h3>Shorttags</h3>
            <p>You can set the priority of a task by typing <code>@high</code>, <code>@normal</code> or <code>@low</code>.</p>
            <p>The default priority is <code>@normal</code>.</p>
            <p>You can mark a task as completed by typing <code>@done</code>.</p>

            <h3>Hints</h3>
            <p>Double click on a task to edit it.</p>
            <p>Press <kbd>ESC</kbd> in an input field to cancel updating it.</p>
            <p>Press <kbd>Enter</kbd> in an input field to save it.</p>
        </div>
        <br style="clear: both" />
    </div>
</script>

</body>
</html>