<a class="item">
    <div class="right floated content" v-show="!editMode">
        <i class="write icon" @click="edit"></i>
        <i class="trash icon" @click="delete"></i>
    </div>
    <div class="content" @click="toggle">
        <div class="ui tiny red empty circular label" v-show="!editMode" v-if="model.priority == 'high'"></div>
        <div class="ui tiny orange empty circular label" v-show="!editMode" v-if="model.priority == 'normal'"></div>
        <div class="ui tiny yellow empty circular label" v-show="!editMode" v-if="model.priority == 'low'">&nbsp;</div>
        <div class="ui small transparent fluid input" v-show="editMode">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" v-model="model.name" @keyup.enter="save" @keyup.esc="cancel">
        </div>
        <span v-show="!model.marked && !editMode">{{ model.name }}</span>
        <del v-show="model.marked && !editMode">{{ model.name }}</del>
    </div>
</a>
