<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Selleck.todo</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/screen.css" />
    <link rel="stylesheet" href="css/icons/general_foundicons.css" />
    <link rel="stylesheet" href="css/icons/general_foundicons_ie7.css" />
    <link rel="stylesheet" href="css/icons/social_foundicons.css" />
    <link rel="stylesheet" href="css/icons/social_foundicons_ie7.css" />
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendor/custom.modernizr.js"></script>
    <script>
        $(document).foundation();
    </script>
</head>
<body class="antialiased">

<div id="ajax-load"></div>

<div class="row">
    <div class="small-12 large-12 columns">
        {% block content %}{% endblock %}
    </div>
</div>

<footer>
    <div class="row">
        <div class="small-10 large-10 columns">
            selleck.todo 0.1.0 - pow, pow, pow!
        </div>
        <div class="small-2 large-2 columns icons">
            <i class="social foundicon-github"></i>
        </div>
    </div>
</footer>

</body>
</html>