{% extends "layout.twig" %}

{% block content %}

    <form id="add-task" action="{{ path('task') }}">
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" class="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>

    <script type="text/template" id="task-template">
        {% include('task.twig') %}
    </script>

    <form class="custom">
        <div id="list">

            <!--
            <div class="row no-entries">
                <div class="small-12 columns">
                    no tasks found
                </div>
            </div>
            -->

            <div class="row loading">
                <div class="small-11 small-centered columns">
                    ...
                </div>
            </div>
        </div>
    </form>

{% endblock %}