{% extends "layout.twig" %}

{% block content %}

    <form method="POST" id="add">
        <input type="hidden" name="do" value="save" />
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" name="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>

    <form class="custom">
        <input type="hidden" name="do" value="mark" />
        <div class="list">
            {% for task in tasks %}
                <div class="task">
                    <div class="row item">
                        <div class="small-10 columns">
                            <label for="task-{{ task.id }}">
                                <input type="checkbox" class="hide" id="task-{{ task.id }}" value="{{ task.id }}" />
                                <span class="custom checkbox"></span>
                                <span>{{ task.name|e }}</span>
                            </label>
                        </div>
                        <div class="small-2 columns actions">
                            <i class="foundicon-checkmark" style="display:none"></i>
                            <i class="foundicon-edit"></i>
                            <i class="foundicon-remove"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

{% endblock %}