<div class="task">

    <div class="row item">
        <div class="small-10 columns">
            <label>
                <span class="custom checkbox"></span>
                <span class="name"><%= name %></span>
            </label>
            <form><input type="text" /></form>
        </div>
        <div class="small-2 columns actions">
            <a href="#update-task" class="update"><i data-tooltip class="foundicon-edit has-tip tip-top" title="Edit Task"></i></a>
            <a href="#delete-task" class="delete"><i data-tooltip class="foundicon-trash has-tip tip-top" title="Remove Task"></i></a>
        </div>
    </div>

</div>