{% extends "layout.twig" %}

{% block content %}

    <form id="form" action="{{ path('task') }}">
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" name="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>

    <script type="text/template" id="task-template">
        {% include('task.twig') %}
    </script>

    <form class="custom">
        <div id="list"></div>
    </form>

{% endblock %}