{% extends "layout.twig" %}

{% block content %}

    <form id="add" action="{{ path('add') }}">
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" name="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>

    <div class="hide" id="task-stencil">
        {% set task = {'id': 0, 'name': 0, 'marked': 0} %}
        {% include('task.twig') %}
    </div>

    <form class="custom">
        <input type="hidden" value="{{ url('delete') }}" id="delete-url"/>
        <input type="hidden" value="{{ url('mark') }}" id="mark-url"/>
        <div class="list">
            {% for task in tasks %}

                {% include('task.twig') %}

            {% endfor %}
        </div>
    </form>

{% endblock %}