<div class="task">

    <div class="row item">
        <div class="small-10 columns">
            <label>
                <span class="custom checkbox"></span>
                <span class="name"><%- name %></span>
            </label>
            <form><input type="text" /></form>
        </div>
        <div class="small-2 columns actions">
            <i class="foundicon-remove cancel"></i>
            <i class="foundicon-edit update"></i>
            <i class="foundicon-trash delete"></i>
        </div>
    </div>

</div>